<section class="card col-lg-6 offset-lg-3" style="width: auto">
    <img class="card-img-top" src="/assets/images/Travelot-Stock-Img-2.jpg" alt="Travel Destination">
    <div class="card-body">
        <p class="card-text">Quick description of the destination</p>
    <a href="https://www.travelocity.com/" type="submit" class="btn btn-info">View Flights</a>
    </div>
</section>