<section class="card">
    <!-- The contents of this card links to the wishlist page using the wishlist ID -->
    <a href="/wishlist/{{wishlistData.location}}">
        <!-- The card contains the wishlist location name as the card header -->
        <header>{{wishlistData.location}}</header>
        <!-- The card contains the first painting of the gallery -->
        <img src="{{wishlistData.photo}}" alt="Photo of {{wishlistData.location}}">
    </a>
</section>