<section class="card">
    <!-- The contents of this card links to the wishlist page using the wishlist ID -->
    <a href="/wishlist/{{location}}">
        <!-- The card contains the wishlist location name as the card header -->
        <header>{{Wishlist.location}}</header>
        <!-- The card contains the first painting of the gallery -->
        <img src="{{Wishlist.photo}}" alt="Photo of {{Wishlist.location}}">
    </a>
</section>