<h1 class="jumbotron text-center text-info">Travelot
    {{!-- <img src="..." alt=""> --}}
</h1>

<div class="menu col-lg-6 offset-lg-3" style="width: auto">
    <div class="menu-body">
        <center>
            <a href="#" class="btn btn-info">Explore</a>
            <br>
            <br>
            <a href="#" class="btn btn-info">Login</a>
            <br>
            <br>
            <a href="#" class="btn btn-info">Past Trips</a>
            <br>
            <br>
            <a href="#" class="btn btn-info">Wishlist</a>
            <br>
            <br>
            <img class="card-img-top" src="/assets/images/Travelot-Stock-Img-2.jpg" alt="Travel Destination">

        </center>
    </div>
</div>