<h1 class="jumbotron text-center text-warning">Travelot
    {{!-- <img src="..." alt=""> --}}
</h1>

<div class="menu col-lg-6 offset-lg-3" style="width: auto">
    <div class="menu-body">
        <center>
            <a href="/explore" class="btn btn-warning">Explore</a>
            <br>
            <br>
            <a href="/login" class="btn btn-warning">Login</a>
            <br>
            <br>
            <a href="/trips" class="btn btn-warning">Past Trips</a>
            <br>
            <br>
            <a href="/wishlist" class="btn btn-warning">Wishlist</a>
            <br>
            <br>
            <img class="card-img-top" src="/assets/images/Travelot-Stock-Img-2.jpg" alt="Travel Destination">

        </center>
    </div>
</div>