<h5 class="jumbotron text-center text-warning bg-dark"><br>Explore new travel destinations, add them to your wishlist, and post your favorite memories.</h5>

<section class="container">
    <!-- Add to explore -->
    <h4 class="text-center" style="color: rgb(255, 196, 0);">Add Destination to explore</h4>
    <form class="explore-form text-center d-flex justify-content-center">
        <input type="text" name="location" placeholder="Enter City" />
        <button type="submit" class="btn btn-warning"/>Search</button>
    </form>
</section>
<br>
<br>
<section>
    <!-- Render explore -->
    <h4 class="jumbotron text-center text-warning">Explore</h4>
    <div class='row justify-content-center'>
        <a href="https://www.travelocity.com/"></a>
            {{#each explore}}
                {{> explore-details}}
            {{/each}}
        </a>
    </div>
</section>

<script src="/assets/js/explore-post.js"></script>

<section id="explore" class="card text-center col-lg-6 offset-lg-3" style="width: auto">
    <img class="card-img-top" src="images/Travelot-Stock-Img-2.jpg" alt="Travel Destination">
    <div class="card-body justify-content-center">
        <p class="card-text">Click here to search for flights to the destination!</p>
        <a href="https://www.travelocity.com/" type="submit" class="btn btn-warning justify-content-center">View Flights</a>
    </div>
</section>