<h1 class="jumbotron text-center text-info">
    <a href="dashboard" class="btn btn-info">Menu</a>
    Travelot
    {{!-- <img src="..." alt="" style="float:right"> --}}
</h1>

<form class="col-lg-6 offset-lg-3" style="width: auto">
    <div class="form-group">
        <label for="Destination">Destination</label>
        <input type="text" class="form-control" id="searchLocation" placeholder="Enter a place you want to travel to">
    </div>
    <button type="submit" class="btn btn-info">Submit</button>
</form>
<br>
<br>
<div class="card col-lg-6 offset-lg-3" style="width: auto">
    <img class="card-img-top" src="/assets/images/Travelot-Stock-Img-2.jpg" alt="Travel Destination">
</div>