<h1 class="jumbotron text-center text-info">Login or Signup</h1>

<form class="login-form text-center text-info">
    <div class = "col-auto">
        <label for="email-login" class="col-sm-2 col-form-label">email:</label>
        <input type="text" id="email-login"/>
    </div>
    <div>
        <label for="password-login" class="col-sm-2 col-form-label">password:</label>
        <input type="password" id="password-login"/>
    </div>
    <div>
        <button type="submit" class="btn btn-info mb-3">login</button>
    </div>
</form>

<form class="signup-form text-center text-info">
  <div>
    <label for="username-signup" class="col-sm-2 col-form-label">username:</label>
    <input type="text" id="username-signup"/>
  </div>
  <div>
    <label for="email-signup" class="col-sm-2 col-form-label">email:</label>
    <input type="text" id="email-signup" />
  </div>
  <div>
    <label for="password-signup" class="col-sm-2 col-form-label">password:</label>
    <input type="password" id="password-signup"/>
  </div>
  <div>
    <button type="submit" class="btn btn-info mb-3">signup</button>
  </div>
</form>

<script src="/assets/js/login.js"></script>