<h1 class="jumbotron text-center text-info">Travelot
    <img src="..." alt="">
</h1>

<div class="menu col-lg-6 offset-lg-3" style="width: auto">
    <div class="menu-body">
        <center>
            <a href="/homepage" class="btn btn-info">Home</a>
            <br>
            <br>
            <a href="/login" class="btn btn-info">Login</a>
            <br>
            <br>
            <a href="/trips" class="btn btn-info">Past Trips</a>
            <br>
            <br>
            <a href="/wishlist" class="btn btn-info">Wishlist</a>
        </center>
    </div>
</div>
