<h1 class="jumbotron text-center text-info">Past Trips</h1>

<form onsubmit="return false" class="col-lg-6 offset-lg-3">
  <div class="form-group">
    <label for="location">Location</label>
    <input type="text" class="form-control" id="location" aria-describedby="text" placeholder="Enter a place you've traveled to">
  </div>
   <div class="form-group">
    <label for="comments">Highlights of your trip</label>
    <textarea class="form-control" id="comments" rows="3"></textarea>
  </div>
  <button type="submit" class="btn btn-add-trip" id="tripbtn">Submit</button>
</form>

<div class="card" id="cardLocation" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="Travel Destination">
  <div class="card-body">
    <h5 class="card-title">Cool Place</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-info">Go somewhere</a>
  </div>
</div>

