<!-- Title -->
<h1 class="jumbotron text-center text-info display-1">My Trip</h1>

{{#each trip}}
    <div class="d-flex justify-content-center">
        <section class="card" style="width: 30rem;">
            <div class='card bg-dark text-white'>
                <!-- City Photo -->
                <img class="card-img img-thumbnail" src="{{photo}}" alt="Photo of {{location}}">
                <div class="card-img-overlay text-center d-flex flex-column justify-content-center">
                    <!-- Location -->
                    <h4 class="text-center card-title" id="location" style="color: #FFFFFF; border-radius: 70px; background: rgb(60, 60, 60, 0.7); text-shadow: #474747 3px 5px 2px; font-size: 4rem;">{{location}}</h4>
                </div>
            </div>
            <p class="text-center" style="font-size: 10rem;">{{details}}</p>
            <br>
            <button type="button" class="btn btn-danger text-center">Remove from trip</button>
            <br>
            <a type="button" class="btn btn-success text-center" href="/trips">Return to trip</a>
        </section>
    </div>
{{/each}}


<script src="/assets/js/trip-delete.js"></script>