<!-- Title -->
<h1 class="jumbotron text-center text-warning display-1 bg-dark">Add or View Your Trips</h1>


<!-- If the user is logged in, allow them to add to trips and also render their trips -->
{{!-- {{#if loggedIn}} --}}
<section class="container-fluid text-center">
    <!-- Add to trips -->
    <form class="trips-form text-center justify-content-center">
        <h1 style="color: #FFFFFF;">Add City</h1>
        <input type="text" name="location" id="location" placeholder="Enter City" />

      <br>
      <br>

        <h1 style="color: #FFFFFF;">Trip Details</h1>
        <textarea type="text" name="details" id="details" rows="4" style="width:60%" placeholder="Highlights of your trip... We went scuba diving!"/></textarea>

      <br>

        <button type="submit" style="width:10%" class="btn btn-warning"/>Add</button>
      </form>
</section>

<br>

<section>
    <!-- Render trips -->
    <h4 class="jumbotron text-center text-warning bg-dark" style="font-size: 5rem">My Trips</h4>
    <div class='row justify-content-center'>
        <a href="/trips"></a>
            {{#each trip}}
                {{> trip-details}}
            {{/each}}
        </a>
    </div>
</section>


<script src="/assets/js/trips-post.js"></script>
<!-- End of logged in page -->


<!-- Otherwise, provide a link to login -->
{{!-- {{else}}
<a class="text-center text-warning" href="/login">You must login first to view your trips</a>
{{/if}} --}}