<h1 class="jumbotron text-center text-info">Past Trips</h1>

<section class="container text-center">
    <!-- Add to trips -->
    <form class="trips-form">
        <h5>Previous Trip</h5>
        <input type="text" name="location" id="location" placeholder="Enter City" />
      </br>
      <div class="">
        <h5>Details</h5>
      <textarea type="text" class="trip-comments" id="trip-details" rows="3" placeholder="Highlights of your trip... We went scuba diving!"></textarea>
      <br>
        <button type="submit" class="btn btn-info"/>Add</button>
    </form>
</section>

<section>
    <!-- Render trips -->
    <h4 class="jumbotron text-center text-info">My Past Trips</h4>
    <div class='row justify-content-center'>
        <a href="/trips"></a>
            {{#each trips}}
                {{> trips-details}}
            {{/each}}
        </a>
    </div>
</section>

<script src="assets/js/add-post.js"></script>